/* Estilo geral */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    box-sizing: border-box;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 450px;
    box-sizing: border-box;
}

/* Estilo dos inputs */
input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="text"]:focus {
    border-color: #3498db;
    outline: none;
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
}

/* Estilo do botão */
button {
    display: inline-block;
    width: 100%;
    background-color: #3498db;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2980b9;
}

/* Estilo da mensagem de feedback */
#message {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    display: none; /* Inicialmente oculto */
}

/* Estilo para mensagens de erro */
.error {
    background-color: #ffcccc; /* Fundo vermelho claro */
    color: #c0392b; /* Texto vermelho escuro */
    border: 1px solid #c0392b; /* Borda vermelha */
}

/* Estilo para mensagens de sucesso */
.success {
    background-color: #eafaf1; /* Fundo verde claro */
    color: #2c3e50; /* Texto padrão */
}


/* Responsividade para telas menores */
@media (max-width: 600px) {
    .container {
        padding: 15px;
        max-width: 100%;
        /* Garante que ocupe toda a largura da tela */
    }

    button {
        padding: 10px;
        font-size: 14px;
        /* Tamanho de fonte menor para botões em telas pequenas */
    }

    input[type="text"] {
        font-size: 14px;
        /* Ajuste para texto de inputs */
    }
}